body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  font-size: 62.5%;
}

.container .left-panel {
  width: 80%;
}

.container .right-panel {
  padding: 4px;
}

.right-panel .shistory-item li {
  font-size: 1.4rem;
}
.right-panel .card .card-body {
  height: 490px;
  overflow-y: auto;
}

.search-panel {
  width: 50%;
}

.current-weather {
  width: 86%;
  font-size: 1.4rem;
}

.card .temp-icon {
  display: flex;
  align-items: center;
}

.temp-icon #weather-icon {
  vertical-align: middle;
  width: 100%;
}

.temp-icon #temperature {
  font-size: 3rem;
  font-weight: 600;
}

.temp-icon #temperature::after {
  content: "\2109";
}

#weather-card {
  visibility: hidden;
}

.future-weather {
  margin-top: 20px;
  display: inline-box;
  font-size: 1.5rem;
  visibility: hidden;
}

.future-weather h4 {
  text-decoration: underline;
}

/* .day-weather {
  border: 1px solid rgb(195, 184, 184);
} */

.forecast-measure::after {
  content: "\2109";
}

.future-weather .conditions {
  font-size: 15px;
}

.future-weather .desc {
  font-size: 20px;
}

/* Color codes for highlighting UV index */

.green-uvi {
  background-color: greenyellow;
}

.yellow-uvi {
  background-color: yellow;
}

.orange-uvi {
  background-color: orange;
}

.red-uvi {
  background-color: orangered;
}